# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.kiro/
.vscode/


# Environment files
venv/
.env
# Python
__pycache__/
*.pyc

# Node
node_modules/
.env
dist/
build/
frontend/.next/
frontend/out/


uploads/
database/